{% if site.footer-links.github %}<a href="https://github.com/{{ site.footer-links.github }}" target="_blank"><i class="svg-icon github"></i></a>{% endif %}
{% if site.footer-links.gitlab %}<a href="https://gitlab.com/{{ site.footer-links.gitlab }}" target="_blank"><i class="svg-icon gitlab"></i></a>{% endif %}
{% if site.footer-links.opendesktop %}<a href="https://www.opendesktop.org/{{ site.footer-links.opendesktop }}" target="_blank"><i class="svg-icon opendesktop"></i></a>{% endif %}
{% if site.footer-links.userstyles %}<a href="https://userstyles.org/{{ site.footer-links.userstyles }}" target="_blank"><i class="svg-icon userstyles"></i></a>{% endif %}
{% if site.footer-links.stackoverflow %}<a href="http://stackoverflow.com/{{ site.footer-links.stackoverflow }}" target="_blank"><i class="svg-icon stackoverflow"></i></a>{% endif %}
{% if site.footer-links.devto %}<a href="https://dev.to/{{ site.footer-links.devto }}" target="_blank"><i class="svg-icon devto"></i></a>{% endif %}
{% if site.footer-links.getinit %}<a href="https://www.get-in-it.de/profil/{{ site.footer-links.getinit }}" target="_blank"><i class="svg-icon getinit"></i></a>{% endif %}
{% if site.footer-links.entwicklerheld %}<a href="https://platform.entwicklerheld.de/publicprofile/{{ site.footer-links.entwicklerheld }}" target="_blank"><i class="svg-icon entwicklerheld"></i></a>{% endif %}
{% if site.footer-links.linkedin %}<a href="https://www.linkedin.com/in/{{ site.footer-links.linkedin }}" target="_blank"><i class="svg-icon linkedin"></i></a>{% endif %}
{% if site.footer-links.email %}<a href="mailto:{{ site.footer-links.email }}"><i class="svg-icon email"></i></a>{% endif %}
