
.edit {
  display: block;
  padding: 10px 0px;
}

.post blockquote::before {
  content: "”";
  color: grey;
  float: left;
  font-size: 60px;
  color: #CCCCCC;
}

.highlighter-rouge {
  background-color: #FFFFB9;
  display: inline;
  padding: 0px;
  color: black;
  font-family: Helvetica, Arial, sans-serif;
}

code {
  font-family:'Bitstream Vera Sans Mono','Courier', monospace;
  background-color: #000100;
  display: block;
  overflow: auto;
  padding: 10px;
  color: #CCCCCC;
}
