body {
  min-height: 800px !important;
  background-image: url("https://raw.githubusercontent.com/ikem-krueger/ikem-krueger.github.io/master/images/3b039212c2317395a006977963704d8aa841.png") !important;
  background-position: right bottom !important;
  background-size: auto 100% !important;
  background-attachment: fixed !important;
  background-repeat: no-repeat !important;
}

h1 {
  margin-bottom: 0px !important;
}

p {
  font: 16px/1.4 $helvetica !important;
}

.container {
  background-color: #ffffffDD !important;
  padding: 20px auto !important;
  margin-bottom: -24px !important;
}

.site-avatar {
  margin-bottom: -20px !important;
}

.site-description {
  margin-top: 0px;
}

.wrapper-footer {
  margin-top: -50px !important;
  border-top: initial !important;
  border-bottom: initial !important;
  background-color: initial !important;
}

.footer {
  padding-bottom: 50px !important;
}

.date, .date a {
  color: #d7d7d7 !important;
}

.entry {
  margin-top: 50px !important;
  margin-bottom: 18px;
}

.entry a {
  text-decoration: underline !important;
  text-decoration-style: dashed !important;
}

.entry a.index {
  text-decoration: none !important;
}

.highlighter-rouge {
  background-color: #EEEEEEDD;
}
