h1 {
  margin-bottom: 0px !important;
}

.site-avatar {
  margin-bottom: -20px !important;
}

.site-description {
  margin-top: 0px;
}

.date a {
  color: $gray;
}

.entry {
  margin-bottom: 18px;
}

.wrapper-footer {
  margin-top: -50px !important;
  border-top: initial !important;
  border-bottom: initial !important;
  background-color: initial !important;
}
