---
layout: default
---

<article class="page">
  <h1><a href="{{ site.baseurl }}{{ page.url }}">{{ page.title }}</a></h1>

  <div class="date">
    {{ page.date | date: "%Y-%m-%d" }}
    <a href="https://github.com/ikem-krueger/ikem-krueger.github.io/edit/master/{{ page.path }}" target="_blank" title="Edit post"><img src="https://raw.githubusercontent.com/ikem-krueger/ikem-krueger.github.io/master/images/pencil.svg"></a>
  </div>

  <div class="entry">
    {{ content }}
  </div>
  {% include giscus.html %}
</article>
