---
layout: default
---

<article class="post">
  <h1><a href="{{ site.baseurl }}{{ page.url }}">{{ page.title }}</a></h1>

  <div class="date">
    {{ page.date | date: "%Y-%m-%d" }}
  </div>

  <div class="entry">
    {{ content }}
  </div>

  <div class="edit">
    <a href="https://github.com/ikem-krueger/ikem-krueger.github.io/commits/master/{{ page.path }}" target="_blank">History</a>
    <a href="https://github.com/ikem-krueger/ikem-krueger.github.io/edit/master/{{ page.path }}" target="_blank">Edit</a>
  </div>
  {% include disqus.html %}
  <script src="https://utteranc.es/client.js"
        repo="ikem-krueger/ikem-krueger.github.io"
        issue-term="pathname"
        theme="github-light"
        crossorigin="anonymous"
        async>
  </script>
</article>
